<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebRTC</title>
</head>
<body>
    <h1>Duy Nguyen</h1>
    <video id="loadvideo" width="400"  controls></video><br />
    <video id="loadvideoSc" width="400"  controls></video><br />
    <textarea name="" id="txtToken" cols="100" rows="3"></textarea><br />
    <input type="text" id="tokenID">
    <button id="btnConnect">Connection</button>
    <script src="bundle.js"></script>
</body>
</html>